<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h2>Сложение 2 чисел</h2>
        </div>
        <form action={{ url_for('render_result') }} method="POST" class="header__form">
            Enter first number: <input type="text" name="number1"><br>
            Enter second number: <input type="text" name="number2"><br>
            <input type="submit" value="Summa">
        </form>
    </header>
</body>
</html>